# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CICD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:

    runs-on: Agent-1

    steps:
    - uses: actions/checkout@v4
    - name: setup node js
      uses: actions/setup-node@v4
      with:
        node-version: '23'

    - name: frontend compile (syntax check)
      run: |
        cd client
        find . -name "*.js" -exec node --check {} +

    - name: backend compile (syntax check)
      run: |
         cd api
         find . -name "*.js" -exec node --check {} +

  gitleaks_scan:
       runs-on: Agent-1
       needs: compile
       steps:
         - name: checkout repo
           uses: actions/checkout@v4
         - name: gitleaks setup
           uses: gitleaks/gitleaks-action@v2

         - name: gitleaks scan
           run: |
             gitleaks detect --source ./client --exit-code 1
             gitleaks detect --source ./api --exit-code 1

  trivy_scan:
      runs-on: gitleaks-scan
      needs: gitleaks_scan
      steps:
         - name: Run Trivy vulnerability scanner
           uses: aquasecurity/trivy-action@0.33.1
           with:
            format: 'table'
            exit-code: '1'
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH'
